.card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 48px;
  border-radius: 24px;
  padding: 24px;
  background: #fff;
  box-sizing: border-box;
}

.avatar {
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  width: 96px;
  height: 96px;
  padding: 12px;
}

.info {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  /* width: 100%; */
}

.head {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}

.stat:not(:last-child) {
  position: relative;
  padding-right: 16px;
}

.stat:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: rgba(18, 20, 23, 0.2);
}

.star {
  color: #ffc531;
  fill: #ffc531;
}

.price {
  color: #38cd3e;
}

.name {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #121417;
  margin-top: 8px;
}

.descriptions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  margin-top: 32px;
}

.descriotion {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.readMore {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  margin-top: 16px;
}

.levels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  margin-top: 32px;
}

.level {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 4px;
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  white-space: nowrap;
}

.experience {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #121417;
  margin-top: 16px;
}

.reviews {
  margin-top: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 32px;
}

.review {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.bookButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 16px 48px;
  background: #f4c550;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: #121417;
  margin-top: 32px;
}

.bookButton:hover {
  background: #ffdc86;
}
