.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.mainContent {
  border-radius: 30px;
  width: 720px;
  height: 530px;
  background: #f8f8f8;
  padding: 98px 64px;
}

.mainTitle {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-bottom: 32px;
}

.cursor {
  font-style: italic;
  font-weight: 400;
  border-radius: 10px;
  background: var(--accent-hover);
  margin: 0 7px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
  margin-bottom: 64px;
}

.startBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  padding: 16px 88px;
  /* max-width: 267px; */
  height: 60px;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.55556;
  color: var(--main-text-color);
}

.startBtn:hover {
  background: #ffdc86;
}

.mainImg {
  border-radius: 30px;
  width: 568px;
  height: 530px;
}

.features {
  border: 1.5px dashed var(--accent-color);
  border-radius: 30px;
  /* width: 1312px;
  height: 116px; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 100px;
  padding: 40px 123px;
  margin: 24px 0;
}

.feature {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.featureTitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14286;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.featureDescription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
  max-width: 96px;
}
