.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 128px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: var(--main-text-color);
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 28px;
}

.navItem {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}

.navItem:hover {
  color: #ffdc86;
}

.authButtons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
}

.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);
}

.loginBtn:hover {
  color: #ffdc86;
}

.icon {
  color: var(--accent-color);
}

.registerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: var(--main-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white-color);
}

.registerBtn:hover {
  background: #ffdc86;
}
